:root {
  --color-primary: #0984e3;
  --color-primary-light: #74b9ff;
  --color-primary-dark: #054f88;
  --color-primary-dark-2: #032f52;
  --bg-dark-1: #010d17;
  --bg-dark-2: #021a2d;
  --color-secondary: #47da62;
  // SECONDARY COLORS
  --color-warn: #ff6b6b;
  --color-granted: #40c057;
  // TYPOGRAPHY COLORS
  --color-grey-light-1: #e9ecef;
  --color-grey-light-2: #dee2e6;
  --color-grey-light-3: #ced4da;
  --color-grey-light-4: #adb5bd;
  --color-grey-dark-1: #555;
  --color-grey-dark-2: #444;
  --color-grey-dark-3: #333;
  --color-grey-dark-4: #222;
  --color-grey-dark: #212529;
  --color-black: #000;
  --color-white: #fff;
  // FONT VARIABLES
  --font-primary: "Source Sans Pro", sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 600;
  --font-weight-3: 700;

  --color-white: #fff;
  --color-black: #000;
  --border-radius: 20rem;

  // FONT
  --default-font-size: 1.6rem;
  --font-size: 1.6rem;
  //Borders
  --line: 1px solid var(--color-grey-light-4);
}
$bg-dark: #000;
$color-primary: #010d17;
$bp-big-desktop: 112.5em;

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
