*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @media only screen and (min-width: $bp-big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: var(--bg-dark-1);
}

::selection {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
