.section-features {
  padding-bottom: 8rem;
  background: var(--color-grey);
}

.section-cities {
  display: grid;
  padding: 10rem 0;
}

.section-contact {
  display: grid;
  background: var(--color-white);
}
