.form {
  display: flex;
  gap: 3.2rem;
  @include flexCol;
  width: 60%;
  position: relative;

  &--center {
    padding: 3.2rem;
    max-width: 50rem;
    margin: 0 auto;

    box-shadow: 0 2rem 4rem rgba(#000, 0.1);
    border-radius: var(--border-radius);
  }
  &__control {
    display: flex;
    @include flexCol;
  }
  &__label {
    font-size: 1.8rem;
    font-weight: var(--font-weight-3);
    display: block;
    margin-bottom: 1rem;
  }
  &__textarea,
  &__input {
    transition: var(--transition-primary);
    color: var(--color-grey-dark-3);
    &--hidden {
      display: none;
    }
    &[type="password"] {
      &::placeholder {
        font-weight: var(--font-weight-4);
        font-size: 1.8rem;
      }
    }
    &:focus {
      outline: none;
      // border: 1px solid var(--color-primary);

      color: var(--color-grey-dark-4);
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
    }
    &:focus:invalid {
      border: 3px solid var(--el-border) var(--color-warn);
    }
    &::placeholder {
      color: currentColor;
    }
    &:placeholder-shown {
      color: var(--color-grey-dark-4);
    }
  }
  &__textarea,
  &__select,
  &__input,
  &__input-label {
    outline: 3px solid transparent;
    padding: 1.2rem 1.4rem;
    height: 4.2rem;
    border-radius: var(--border-radius);
    // border: none;
    color: var(--color-grey-dark-3);
    box-shadow: 0 2rem 6rem rgba(#000, 0.1);
    font-size: var(--font-size);
    font-family: var(--font-family);

    outline: none;
    border: 1px solid #ccc;
  }
  &__input {
    outline: none;
    // border: 1px solid #ccc;
    background: rgba(#fff, 0.8);

    &--error {
      border: 2px solid var(--color-warn);
      animation: inputError 0.4s;
    }
  }
  &__select {
    padding: 0 1.2rem;
  }
  &__input-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__textarea {
    height: 18rem;
    max-width: 100%;
  }
  &__message {
    color: var(--color-warn);
    font-size: 1.8rem;
    font-weight: var(--font-weight-4);
    margin-top: 0.4rem;
  }
}
