.how {
  display: flex;
  gap: 3.2rem;
  margin: 10rem 0;
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
  &__step {
    animation: scaleOutBorder 0.8s ease;
  }
  &__text {
    display: flex;
    gap: 3.2rem;
  }
  &__icon {
    width: 12.4rem;
    height: 12.4rem;
    margin-bottom: 3.2rem;
  }
  &__number {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-grey-light-4);
  }
}
