.pricing {
  display: flex;
  gap: 3.2rem;
  padding: 6.4rem 3.2rem;
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    gap: 6.4rem;
  }

  &__card {
    background-color: var(--bg-light);
    border-radius: 1rem;

    flex: 1;
    font-size: 3rem;

    margin: 0 auto;
    @include flexColSpread;
    text-align: center;
    gap: 1rem;
    padding: 3.2rem;
    box-shadow: 0 2rem 4rem 0.4rem rgba(#fff, 0.1);
  }
  &__heading {
    padding: 3rem 2.4rem 1rem 2.4rem;
  }
  &__sub-heading {
    font-size: 2rem;
    font-weight: 400;
  }
  &__price {
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-primary);
    @media only screen and (max-width: $bp-medium) {
      font-size: 6.4rem;
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  &__btn {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0;
    padding: 1.6rem 0;
    text-align: center;
    flex: 1;
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
  }
}
